* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #121212; /* Fundo principal escuro */
  --text-color: #e0e0e0; /* Texto claro para alta legibilidade */
  --menu: #1e1e1e; /* Barra de navegação em tom grafite escuro */
  --cor-menu: #ffffff; /* Cor dos textos do menu */
  --cor-letras-menu: #1f1f1f; /* Fundo dos cards de projetos */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.navegacao {
  height: 3rem;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: var(--menu);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: fixed;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.menu-link {
  color: var(--cor-menu);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin: 0.7rem;
  font-family: "Inter", sans-serif;
}

.foto_perfil {
  width: 400px;
  height: 400px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.sobre-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #1a1a1a;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin: 8rem;
}

.sobre-titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sobre-paragrafo {
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1rem;
}

#inicio, #sobre, #projetos, #contato {
  scroll-margin-top: 150px;
}

.projetos-maintitle {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 25vh;
}

.projetos-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 8rem;
  margin-top: 2rem;
}

.projeto-card {
  background-color: var(--cor-letras-menu);
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.projeto-titulo {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.projeto-card:hover {
  box-shadow: 0px 12px 20px rgba(51, 51, 51, 0.6);
  transform: translateY(10px) scale(1.03);
}

.projeto-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  border-radius: 5px;
}

.contatos-titulo {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 25vh;
}

.contato-box{
  background-color: var(--cor-letras-menu);
  display: flexbox;
  align-items: center;
  text-align: center;
  flex-direction: column; 
  box-shadow: 0px 12px 20px rgba(51, 51, 51, 0.6);
  border-radius: 10px;
  margin-left: 16rem;
  margin-right: 16rem;
}

.campo-form{
  margin-bottom: 1.5rem;
}

.gp-form{
  width: 100%;
  padding: 1.5rem;
  background-color: var(--cor-letras-menu);
  color: #1f1f1f;
  border-radius: 10px;
}

.campo-form:focus{
  border-color: var(--cor-menu);
  box-shadow: #343131;
}