* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --cor-letras-menu: #d0b9a7;
  --menu: #b08463;
  --background-color: #d0b9a7;
  --cor-menu: #1c0f0f;
  --text-color: #1f1919;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.navegacao {
  height: 3rem;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: var(--menu);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: fixed;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.foto_perfil {
  width: 400px;
  height: 400px;
  box-shadow: 9px 6px 17px -7px rgba(73, 40, 0, 0.2);
  border-radius: 50%;
}

.sobre-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.sobre-titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sobre-paragrafo {
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.menu-link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  position: relative;
}
